h2 {
    color: rgb(221, 221, 221);
    font-family: 'Satisfy', cursive;
}
h3 {
    color: white;
}
.synopsis {
    color: white;
    text-align: center;
    padding-left: 90px;
}
.bookTitle {
    color: black;
}
.bookAuthor {
    color: black;
}
.yours {
    padding: 10px;
    font-size: 35px;
    text-align: center;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.container {
    background-image: url("https://mcgeetraveltales.files.wordpress.com/2017/11/books.png?w=1024");
}
body {
    background-color: rgb(10, 156, 156);
}